{% extends 'index/index.html' %}

{% block header_block %}
     <h1 class="fw-bolder">Registrate gratis</h1>
     <p class="lead mb-0">Completa el formulario y empeza a compartir con otros usuarios lo que quieras</p>
{% endblock header_block %}

{% block body_block %}

    <p>
        <a href={% url 'usuarios' %}>Volver</a>
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Crear perfil</button>
    </form>

{% endblock body_block %}
