{% extends 'index/index.html' %}

{% block header_block %}
     <h1 class="fw-bolder">Sector de busqueda</h1>
     <p class="lead mb-0">Ingresa algun dato del usuario que estas buscando</p>
{% endblock header_block %}

{% block body_block %}

    <p>
        <a href={% url 'crear_usuario' %}>Crear Perfil</a>
    </p>

    <form action="" method="get">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Buscar perfil</button>
    </form>

    {% for usuario in usuarios  %}
        <li>
            <a href= {% url 'detalle_usuario' usuario.id %}>{{usuario}}</a> |
            <a href= {% url 'editar_usuario' usuario.id %}>Editar</a> |
            <a href= {% url 'borrar_usuario' usuario.id %}>Borrar</a> 
        </li>
    {% endfor %}

{% endblock body_block %}
