{% extends 'index/index.html' %}

{% block header_block %}
     <h1 class="fw-bolder">Sector de busqueda</h1>
     <p class="lead mb-0">Ingresa algun dato del usuario que estas buscando</p>
{% endblock header_block %}

{% block body_block %}

    <p>
        <a href={% url 'usuarios' %}>Volver</a>
    </p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button>Editar</button>
    </form>

 


{% endblock body_block %}
